doctype html
html(lang="en")
    head
        title #{pageTitle} - MeTube
        link(rel="stylesheet" href="https://unpkg.com/mvp.css")
    body
        header
            if fakeUser.isSignedIn
                small Hello, #{fakeUser.username}
            nav 
                ul 
                    if fakeUser.isSignedIn
                        li 
                            a(href="/signout") Sign out
                    else
                        li 
                            a(href="/signin") Sign in
            h1=pageTitle
        main
            block content
        include partials/footer.pug