extends base.pug

block content 
    h4 Change video title
    form(method="POST")
        input(name="title", placeholder="Video title", required, value=video.title)
        input(type="submit", value="Save")